@import "../../styles/base/all";

:host {

    *, *:before, *:after {
        box-sizing:border-box;        
        margin:0;
        padding:0;
    }

    a, a:link, a:visited, a:active {
        text-decoration: none;
    }

    text-transform:uppercase;
    
    h1 {
        text-align:center;
        font-family:Montserrat;
    }

    .filter-container {
        margin:0 0 20px 0;
    }

    .transaction {
        line-height:1.85em;
    }

    .category,
    .spend {
        display:inline-block;
        letter-spacing:0.025em;
        text-transform:uppercase;
        text-align:right;
        width:100px;
    }
    .category {        
        width:calc(100% - 105px);
        text-align:left;
    }

    input {
        width: calc(100% - 20px);
        line-height:3em;
        padding: 0 10px;
        border-radius: 0;
        -webkit-appearance: none;
        border:solid 1px #ddd;        
    }
}
