@import "../../styles/base/all";

:host {

    *, *:before, *:after {
        box-sizing:border-box;
        font-family:Montserrat;
        margin:0;
        padding:0;
    }

    a, a:link, a:visited, a:active {
        text-decoration: none;
    }

    text-align:center;
    display:inline-block;
    width:100%;
    margin:0 auto;

    ce-file-upload {
        display:inline-block;
        margin:0 auto;
        width:100%;

        .drop-zone {
            margin: 0 auto;
        }
    }
}

