@import "../styles/base/all";

body, html {
    font-family:sans-serif;
    margin:0;
    padding:0;
}

ng-view {
    display:block;
    margin: 0 20px;
    max-width:580px;
}

@media (min-width: $screen-md-min) { 
    ng-view {
        margin: 0 auto;
    }
}

@import "shared/file-upload.component";
@import "shared/header.component";

@import "transactions/transaction-file-upload.component";
@import "transactions/transactions.component";