@import "../../styles/base/all";

:host {
    .drop-zone {
        background-color:#f39c12;
        height:200px;
        max-width:500px;
        padding-top:50px;

        h2 {
            color:#fff;
            line-height:1.3em;
            margin: 0 10px;
        }
    }
}

@media only screen and (min-width: $screen-sm-min) { 


}

@media only screen and (min-width: $screen-md-min) { 


}

@media only screen and (min-width: $screen-lg-min) { 


}