@import "../../styles/base/all";

ce-header {
    display:block;
    height:60px;
    //background-color:rgb(89,89,89);
    background: linear-gradient(90deg, rgb(89,89,89) 0%, rgb(200,200,200) 100%);
    
    a {
        cursor:pointer;
        text-decoration:none;
        color:#fff;
        padding: 0 15px;
        text-transform:uppercase;
        line-height:60px;
        display:inline-block;        
    }

    a:hover {
        background-color:#666;
    }

    .container {
        margin: 0 20px;
        max-width:580px;
        text-align:center;
    }

    @media (min-width: $screen-md-min) { 
        .container {
            margin: 0 auto;
        }
    }
}

