@import "../../styles/base/all";

ce-header {
    display:block;
    height:60px;
    background-color:rgb(89,89,89);
    
    a {
        cursor:pointer;
        text-decoration:none;
        color:#fff;
        margin: 0 10px;
        text-transform:uppercase;
        line-height:60px;
    }

    .container {
        margin: 0 20px;
        max-width:580px;
        text-align:center;
    }

    @media (min-width: $screen-md-min) { 
        .container {
            margin: 0 auto;
        }
    }
}

